on:
  push:
    branches:
      - main
  schedule:
    - cron: 0 0 * * *

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - registry.hub.docker.com/library/memcached:1.6.9-alpine
          - registry.hub.docker.com/library/mongo:4.0.22
          - registry.hub.docker.com/library/mongo:4.2.12
          - registry.hub.docker.com/library/mongo:4.4.3
          - registry.hub.docker.com/library/postgres:9.5.25-alpine
          - registry.hub.docker.com/library/postgres:9.6.21-alpine
          - registry.hub.docker.com/library/postgres:10.16-alpine
          - registry.hub.docker.com/library/postgres:11.11-alpine
          - registry.hub.docker.com/library/postgres:12.6-alpine
          - registry.hub.docker.com/library/postgres:13.2-alpine
          - registry.hub.docker.com/library/redis:6.0.10-alpine
          - registry.hub.docker.com/selenium/standalone-chrome:88.0

    steps:
      - uses: actions/checkout@v1
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - run: |
          docker pull ${{ matrix.image }}
          docker tag ${{ matrix.image }} ghcr.io/${{ github.repository_owner }}/${{ matrix.image }}
          docker push ghcr.io/${{ github.repository_owner }}/${{ matrix.image }}
